@use 'sass:color';
@use 'src/styles/vars';

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: vars.$menuWidth;
  padding: vars.$halfGutter 0;
  background-color: color.scale(vars.$color, $lightness: -60%);
  box-shadow: inset -20px 0 20px -20px rgba(0,0,0,.75);
  height: 100vh;
  overflow-y: auto; 
 
  
  
  &-container {
    height: auto; 
    max-height: 100%;
  }
  
  &-link {
    display: block;
    padding: vars.$halfGutter vars.$gutter;
    transition: color .2s, box-shadow .4s;
    color: rgba(255,255,255,.75);
    
    &:hover:not(&--active) {
      color: white;
    }
    
    &--active {
      color: vars.$color;
      box-shadow: inset -3px 0 0 vars.$color;
    }
  }

  @media (max-width: vars.$small) {
    width: 150px;
    font-size: .85em;
    
  }
}
