@use 'src/styles/vars';

.presentation {
  position: relative;
  margin-bottom: vars.$gutter;
  color: #fff;

  &-image {
    border-radius: 1.5rem 1.5rem 0 0;
    display: block;
    height: 30vh;
    width: 100%;
  }
  
  &-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: vars.$gutter;
    text-align: center;
    background: rgba(0,0,0,0.3);
  }
  
  &-title {
    font-size: 2em;
  }
  
  &-infos {
    letter-spacing: .05em;
    font-size: .8em;
    opacity: .7;
  }

 }


